.newNote {
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    background-color: #67d7cc;
}

.noteFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save {
    background-color: #67d7cc;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: .4s;
    font-weight: 500;
}

.save:hover {
    /* background-color: #ededed; */
    box-shadow: 0 0 10px lime;
    cursor: pointer;
}